transformers==4.31.0
transformer-lens @ git+https://github.com/neelnanda-io/TransformerLens@ae32fa54ad40cb2c3f3a60f1837d0b4899c8daae
torch
datasets
numpy
nltk
lime
IPython
cupy-cuda11x
tqdm
scikit-learn
scipy